.container {
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  height: 60px;

  font-weight: bold;
  font-size: 20px;
  color: rgb(238, 79, 79);
  line-height: 60px;
}

.header > a {
  color: rgb(238, 79, 79);
  text-decoration: none;
}

.main {
  padding-top: 10px;
}

.footer {
  padding: 100px 0px;
  color: lightgrey;
}
