@charset "utf-8";

@import url("./reset.scss");
@import url("./font.scss");

:root {
  --red: #ea7664;
  --black: #353535;
  --brown: #89757a;
  --beige: #f6f5f5;
}

body {
  font-family: "NanumSeHwaCe";
}
